<html>
<head>
<meta http-equiv="content-language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta name="revisit-after" content="1 days">

<title>Guestbook</title>

<style type="text/css">
<!--
select,option,textarea,input {font-family: Verdana,sans-serif; font-size: 11px; border-style: solid; border-width: 2px; border-color: #FFFFFF; background: #dddddd;}
.submit {font-family: Verdana,sans-serif; font-size: 15px; border-style: solid; border-width: 2px; border-color: #FFFFFF; background: #dddddd;}
body {font-family: Verdana,sans-serif; font-size: 11px; margin-top: 0; padding-top: 0; background-image: url("<%= SITE_ROOT %>/assets/img/bg.jpg");}
td {font-family: Verdana,sans-serif; font-size: 11px;}
.td-head {font-family: Verdana,sans-serif; font-size: 11px; background: #777777; color: #FFFFFF;}
.td-grey {font-family: Verdana,sans-serif; font-size: 11px; background: #eeeeee;}
.td-darkgrey {font-family: Verdana,sans-serif; font-size: 11px; background: #cccccc;}
text {font-family: Verdana,sans-serif; font-size: 11px;}
.text1 {font-family: Verdana,sans-serif; font-size: 11px; color: #555555;}
.text2 {font-family: Verdana,sans-serif; font-size: 11px; color: #111111;}
.textred {font-family: Verdana,sans-serif; font-size: 11px; color: #FF0000;}
a:link,a:visited {font-family: Verdana,sans-serif; font-size: 11px; text-decoration: none; color: blue;}
a:active {font-family: Verdana,sans-serif; font-size: 11px; text-decoration: underline; color: red;}
a:hover {font-family: Verdana,sans-serif; font-size: 11px; text-decoration: underline;}
.entry:link,.entry:visited {font-family: Verdana,sans-serif; font-size: 11px; text-decoration: none; color: blue;}
body {}
-->
</style>
</head>
<body>
<center>
<img alt="guestbook" src="<%= SITE_ROOT %>/assets/img/logo.gif" border="0"><br><br>
<%= content %>
</center>
</body>
</html>
